html, body{
    background-image: linear-gradient(to right, #ffffff 25%, hsl(320, 40%, 42%) 100%);

    color: #000000;
    height:980px;
}

.nav-link{
    color: rgb(225, 161, 241);
    background-image: linear-gradient(to top, hsl(342, 44%, 40%) 0%, rgb(202, 78, 150) 25%,rgb(223, 71, 109) 75%, hsl(330, 37%, 39%) 100%);
    border-radius: 3em;
    width: 150px;
    text-align: center;
    margin-inline: 20px;
    transition: width 0.5s;
}
.nav-link:active{
    color: rgb(156, 68, 179);;
}
.activemenu{
    font-weight: bold;
    border-radius: 10px;
}
.activemenu:active{
    color: rgb(137, 87, 184);
}
.nav-link:hover{
    color: rgb(255, 255, 255);
    font-weight: bold;
    width: 200px;
}
.dropdown-menu{
    margin-left: 30px;
    color: rgb(225, 161, 241);

    background-image: linear-gradient(to top, hsl(342, 44%, 40%) 0%, rgb(202, 78, 150) 25%,rgb(223, 71, 109) 75%, hsl(330, 37%, 39%) 100%);

}
.dropdown-item{
    color: rgb(187, 153, 233);
    transition: background-color 0.3s;
}
.dropdown-item:active{
    color: rgb(172, 110, 190);
}
.dropdown-item:hover{
    color: rgb(240, 240, 240);
    border-radius: 10px;
    background-color: #292e4d70;
    font-size: 20px;
}
.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block;
}
.navbar{
    background-image: linear-gradient(to right, #ffffff 25%, hsl(320, 40%, 42%) 100%);
    height: 60px;
}
.navbar-brand img{
    width: 200px;
}


.card{
    background-image: linear-gradient(to right, #523253 0%, #9e4985 100%);
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 12px rgb(104, 43, 89);
}

img{
    width: 300px;
}


select {
    width: 100%;
}



.smallOne{
    margin-left: 300px;
    width: 200px;
}
.center{
    text-align: center;
}

.table-dark{
    color: #ffffff;
    background-image: linear-gradient(to right, #633053 25%, hsl(327, 22%, 28%) 100%);
    border-radius: 20px;
}

