body{
    background-image: linear-gradient(to bottom, #ffffff 25%, hsl(278, 21%, 51%) 100%);
    color: #000000;
}

.nav-link{
    color: rgb(225, 161, 241);
    background-image: linear-gradient(to top, hsl(268, 53%, 38%) 0%, rgb(101, 78, 202) 25%,rgb(71, 124, 223) 75%, hsl(194, 54%, 55%) 100%);
    border-radius: 3em;
    width: 150px;
    text-align: center;
    margin-inline: 20px;
    transition: width 0.5s;
}
.nav-link:active{
    color: rgb(156, 68, 179);;
}
.activemenu{
    font-weight: bold;
    border-radius: 10px;
}
.activemenu:active{
    color: rgb(137, 87, 184);
}
.nav-link:hover{
    color: rgb(255, 255, 255);
    font-weight: bold;
    width: 200px;
}
.dropdown-menu{
    margin-left: 30px;
    color: rgb(225, 161, 241);
    background-image: linear-gradient(to top, hsl(268, 53%, 38%) 0%, rgb(101, 78, 202) 25%,rgb(74, 91, 187) 75%, hsl(212, 77%, 60%) 100%);
}
.dropdown-item{
    color: rgb(187, 153, 233);
}
.dropdown-item:active{
    color: rgb(172, 110, 190);
}
.dropdown-item:hover{
    color: rgb(240, 240, 240);
    border-radius: 10px;
    background-color: #292e4d;
    font-size: 20px;
}
.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block;
}
.navbar{
    background-color: rgb(255, 255, 255);
    height: 60px;
}
.navbar-brand img{
    width: 200px;
}


.card{
    background-image: linear-gradient(to right, #523253 0%, #49839e 100%);
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 12px rgb(150, 65, 161);
}

img{
    width: 300px;
}


select {
    width: 100%;
}

